@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Alata', sans-serif;
    width: 100%;
}
h1,
p{
    color:hsl(0, 0%, 55%);
}
h1{
    text-transform: uppercase;
}
.hero {
    background: url("./images/desktop/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
   
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 70px;
    
}
header img{
  cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px; 
  }
  nav ul li{
    margin: 0 12px;
  }
  nav ul li a{
    color: hsl(0, 0%, 100%);
    padding: 8px 15px;
    letter-spacing: 1px;
    text-decoration: none;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
  nav ul li a:active{
    text-decoration: underline;
  }
  .hamburger{
    display: none;
  }
  .hero-text{
     padding-top: 30px;
      padding-bottom: 120px;
  }
  .hero-text h1{
      font-weight: 300;
      font-size: 45px;
      width: 45%;
      border: 2px solid hsl(0, 0%, 100%) ;
      margin-left: 100px;
      text-transform: uppercase;
      padding: 41px;
  }
  .about{
      width: 80%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 89px;
      margin-left: -250px;
  }
  .about img {
      width: 40%;
  }
  .about-text{
    background: hsl(0, 0%, 100%) ;
    box-shadow: 0 0 10px hsl(0, 0%, 100%) ;
    position: absolute;
    width: 40%;
    padding: 40px;
    right: -25px;
    bottom: 0
  }
  .about-text h1{
    font-size: 28px;
    width: 70%;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
  } 
  .product{
    padding:  100px;
    position: relative;
  }
  .creation{ 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .creation h1{
    font-size:28px;
    text-transform: uppercase;
    font-weight: 200;
    width: 50%;
  }
  .creation button{
      padding: 10px;
      color: hsl(0, 0%, 55%);
      width: 100px;
      cursor: pointer;
  }
.creation button:hover {
    background: hsl(0, 0%, 0%);
  }
  .grid{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 29px;
      position: relative;
      cursor: pointer;
     
  }
  .grid_one {
    background-image: url("./images/desktop/image-deep-earth.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    
  }
  .grid_one h1 {
      position: absolute;
      font-size: 32px;
      left: 15px;
      top: 271px;
      width: 10%;
      font-weight: 200;
  }
  .grid_two {
    background-image: url("./images/desktop/image-night-arcade.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_two h1 {
    font-size: 32px;
    position: absolute;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
  .grid_three {
    background-image: url("./images/desktop/image-soccer-team.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_three h1 {
    position: absolute;
    font-size: 32px;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
  .grid_four {
    background-image: url("./images/desktop/image-grid.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_four h1 {
    position: absolute;
    font-size: 32px;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
  .grid_five {
    background-image: url("./images/desktop/image-from-above.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_five h1 {
    font-size: 32px;
    position: absolute;
    left: 15px;
    top: 271px;
    width: 60%;
    font-weight: 200;
}
  .grid_six {
    background-image: url("./images/desktop/image-pocket-borealis.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_six h1 {
    font-size: 32px;
    position: absolute;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
  .grid_seven {
    background-image: url("./images/desktop/image-curiosity.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_seven h1 {
    position: absolute;
    font-size: 32px;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
  .grid_eight {
    background-image: url("./images/desktop/image-fisheye.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
    position: relative;
  }
  .grid_eight h1 {
    font-size: 32px;
    position: absolute;
    left: 15px;
    top: 271px;
    width: 50%;
    font-weight: 200;
}
footer{
  padding: 100px;
  background: hsl(0, 0%, 0%);
  color: hsl(0,0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details {
  color: hsl(0,0%, 100%);
}
.company{
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-top: 20px;
}
.company a {
  font-size: 14px;
  text-decoration: none;
  color: hsl(0,0%, 100%);
  margin-right:29px;
}
.social-icons{
  display: flex;
  justify-content: flex-end;
}
.social-icons  img{
  margin-right: 20px;
  cursor: pointer;
}
.social-icons img:last-child{
  margin-right: 0;
  
}
.social p{
  margin-top: 20px;
}

/* Mobile View */
@media screen and (max-width: 430px) {
  .hero {
    background: url("./images/mobile/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
   
}
header {
    margin-left: 5px;
    
}
nav ul{
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}
ul.active {
  left: 0;
}
nav li a{
  margin: 2.5rem 0;
}
.hero-text h1{
  font-size: 32px;
  width: 80%;
  margin: auto;
  padding: 41px;
}
.hamburger{
  display: block;
}
.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  margin-left: 0px;

}
.about img{
  width: 90%;
}
.about-text{
  position: relative;
  width: 100%;
  padding: 40px;
  right: 0;
  bottom: 0
}
.about-text h1{
  font-size: 28px;
  width: 90%;
  margin-bottom: 10px;
}
.product{
  padding: 27px;
}
.creation{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.creation h1{
  font-size:38px;
  text-transform: uppercase;
  font-weight: 200;
  width: 90%;
}
.creation button{
position: absolute;
bottom: 0;
margin-left: 120px;
margin-bottom: 9px;

}
.grid{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 29px;

}
.grid_one {
  background-image: url("./images/mobile/image-deep-earth.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;
  width: 100%;
  position: relative;
}
.grid_one h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 10%;
  font-weight: 200;
}
.grid_two {
  background-image: url("./images/mobile/image-night-arcade.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_two h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 10%;
  font-weight: 200;
}
.grid_three {
  background-image: url("./images/mobile/image-soccer-team.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_three h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 70%;
  font-weight: 200;
}
.grid_four {
  background-image: url("./images/mobile/image-grid.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_four h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 10%;
  font-weight: 200;
}
.grid_five {
  background-image: url("./images/mobile/image-from-above.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_five h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 70%;
  font-weight: 200;
}
.grid_six {
  background-image: url("./images/mobile/image-pocket-borealis.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_six h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 10%;
  font-weight: 200;
}
.grid_seven {
  background-image: url("./images/mobile/image-curiosity.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_seven h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 10%;
  font-weight: 200;
}
.grid_eight {
  background-image: url("./images/mobile/image-fisheye.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 193px;;
  width: 100%;
  position: relative;
}
.grid_eight h1 {
  position: absolute;
  font-size: 32px;
  left: 15px;
  top: 54px;
  width: 50%;
  font-weight: 200;
}
footer{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 92%;
}
.company a {
  font-size: 14px;
  text-decoration: none;
  color: hsl(0,0%, 100%);
  margin: auto;
  margin-bottom: 27px;
}
.social p{
  margin-top: 20px;
  font-size: 10px;
}

}